html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(img/fondo.png) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    display: flex;
}

.texto h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.texto p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.texto {
    background: rgba(0, 0, 0, 0.469);
    border-radius: 40px;
    text-align: center;
    margin: 10% 20% 50%;
    padding: 5%;
    z-index: 1;
}
.texto a{
    background: #fbff00b5;
    color: rgb(0, 0, 0);
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 10px;
    border-right: #000000 solid 5px;
    border-block-end: #000000 solid 5px;
}
