html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
}

.foto img{
    position: absolute;
    width: 100%;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.texto h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.texto p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.texto {
    background: rgba(0, 0, 0, 0.469);
    border-radius: 40px;
    text-align: center;
    margin: 10% 20% 10%;
    padding: 5%;
    z-index: 1;
}
